<!DOCTYPE html>

<html lang="en">

<head>

    <meta name="robots" content="noindex">

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Hello SQLite: Logs</title>

  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">

      <h1>Logs</h1>
      {{#if errors}}
      <div class="error">
        {{#each errors}}
          <p>{{this}}</p>
        {{/each}}
      </div>
      {{else}}

      <p>
        Each time you submit an option through the poll in the <a href="/">Home</a> page, the app will add it to the log. <em>Most recent records will be shown (max 20).</em>
      </p>
      {{#if requests.length}}
          <div>
            <h2>Requests</h2>
            <table>
              <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Requirements / Ideas</th>
                <th>Category</th>
                <th>Created At</th>
              </tr>
              {{#each requests}}
                <tr>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td>{{requirements}}</td>
                  <td>{{category}}</td>
                  <td>{{created_at}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
      {{else}}
      <p class="error">
        No records!
      </p>
      {{/if}}

      <form action="/reset" method="post">
        <h2>
          Clear vote history
        </h2>
        <p>
          Clear the history only if you are absolutely sure! It cannot be undone.
          <em>(Check the README for instructions on setting up your admin key.)</em>
        </p>
        <p>
          Enter your admin key to confirm:
        </p>
        
        {{#if failed}}
        <p class="error">
          {{failed}}
        </p>
        {{/if}}
        <input type="password" id="pass" name="key" required>
        <button type="submit">Clear log history</button>
      </form>
      {{/if}}
    </div>
  </div>
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Home</a>
    <span class="divider">|</span>
    <a href="/logs">Admin</a>
    <a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/glitch-hello-sqlite">
      <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
        alt="" />
      Remix on Glitch
    </a>
  </footer>
</body>

</html>
